<div class="about-desc">
	<span class="large-heading">View Console</span>
	<p>As an application is executing its console output is intercepted and routed to the development
	environment console tab. This allows a program output to be viewed as it executes.</p>
 	<br>
      <img style="border: 1px solid #6f6f6f" src="/images/debugger_console.png"/>

</div>
<!-- 
   <br>
        <img style="border: 1px solid #6f6f6f" src="images/debugger_variables.png"/>
   <br>
        <img style="border: 1px solid #6f6f6f" src="images/debugger_console.png"/>
   <br>
        <img style="border: 1px solid #6f6f6f" src="images/debugger_breakpoints.png"/>
   <br>	 -->