<div class="about-desc">
	<span class="large-heading">Contents</span><br><br>
	
	
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;Basic Types</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Booleans</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Numbers</span><br>
		<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Strings</span><br>
			<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arrays</span><br>
				<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collections</span><br>
	
	
	
		<span class="tiny-heading">&nbsp;&nbsp;&nbsp;Operators</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arithmetic Operators</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Relational Operators</span><br>
		<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bitwise Operators</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Logical Operators</span><br>
	
	
	
			<span class="tiny-heading">&nbsp;&nbsp;&nbsp;Conditions</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If Statement</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Else Statement</span><br>
		<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conditional Operator</span><br>
	
			<span class="tiny-heading">&nbsp;&nbsp;&nbsp;Loops</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;While Statement</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For Statement</span><br>
		<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For In Statement</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Loop Statement</span><br>
	
		
			<span class="tiny-heading">&nbsp;&nbsp;&nbsp;Exceptions</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Catch Statement</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Finally Statement</span><br>
	
			<span class="tiny-heading">&nbsp;&nbsp;&nbsp;Functions</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Declaration</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type Constraints</span><br>
		<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Variable Arguments</span><br>
			<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Closures</span><br>
			
			
						<span class="tiny-heading">&nbsp;&nbsp;&nbsp;Types</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Class</span><br>
	<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enumerations</span><br>
		<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traits</span><br>
			<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Integration</span><br>
						<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coercion</span><br>
						<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Import</span><br>
									<span class="tiny-heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Module</span><br>

</div>