<div class="about-desc">
	
			<table border='1' width='100%'>
				<tr>
					<td  width='50%'>
<span class="large-heading">Overview</span>
					<p>Snap is an open source, optionally typed, object oriented scripting 
					language for the Java platform. The learning curve is small for anyone with 
					experience of Java, JavaScript, TypeScript, or Scala, amongst others. 
					It has excellent integration with the host platform, and can do whatever 
					can be done with Java and much more.</p>	
							<p>The language is ideal for embedding in to an existing application, and is a fraction of the size of similar languages
		for the Java platform. In addition to embedding it can be run as a standalone interpreter and has an development 
		environment which allows scripts to be debugged and profiled.</p>							
					</td>
					<td>
					&nbsp;
					&nbsp;
					<td>
					<td>
					<span class="large-heading" style='visibility: hidden;'>Sample</span><pre>
		<code class="snapscript">#include("/resource/home/example.snap")</code>
	</pre></td>
				</tr>
			</table>
</div>