<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <bean id="ProcessEngine" class="org.snapscript.engine.ProcessEngine" init-method="start">
    <constructor-arg value="http://localhost:${script.listenPort}/resource" />
    <constructor-arg value="${script.commandPort}" />
    <constructor-arg value="${script.agentPool}" />
  </bean>

  <bean id="ContentTypeResolver" class="org.snapscript.engine.http.resource.ContentTypeResolver">
    <constructor-arg>
      <map>
        <entry key=".*.vm" value="text/html" />
        <entry key=".*.html" value="text/html" />
        <entry key=".*.png" value="image/png" />
        <entry key=".*.jpg" value="image/png" />
        <entry key=".*.gif" value="image/gif" />
        <entry key=".*.css" value="text/css" />
        <entry key=".*.js" value="text/javascript" />
        <entry key=".*.json" value="application/json" />
        <entry key=".*.snap" value="text/plain" />
      </map>
    </constructor-arg>
  </bean>

  <bean id="FileManager" class="org.snapscript.engine.http.resource.FileManager">
    <constructor-arg value="${script.resourcePath}" />
  </bean>

  <bean id="FileResolver" class="org.snapscript.engine.http.resource.FileResolver">
    <constructor-arg ref="FileManager" />
    <constructor-arg value="index.html" />
  </bean>

  <bean id="VelocityEngine" class="org.apache.velocity.app.VelocityEngine" init-method="init">
    <constructor-arg>
      <props>
        <prop key="runtime.log.logsystem.class">org.apache.velocity.runtime.log.Log4JLogChute</prop>
        <prop key="runtime.log.logsystem.log4j.logger">root</prop>
        <prop key="parser.pool.size">5</prop>
      </props>
    </constructor-arg>
  </bean>

  <bean id="TemplateEngine" class="org.snapscript.engine.http.resource.template.VelocityTemplateEngine">
    <constructor-arg ref="VelocityEngine" />
    <constructor-arg ref="FileResolver" />
    <constructor-arg value="/" />
    <constructor-arg value=".vm" />
  </bean>

  <bean id="ProjectResource" class="org.snapscript.engine.http.project.ProjectResource">
    <constructor-arg ref="TemplateEngine" />         
    <constructor-arg value="project.vm" />
  </bean>
  
  <bean id="ProjectFileResource" class="org.snapscript.engine.http.project.ProjectFileResource">
    <constructor-arg ref="ContentTypeResolver" />         
    <constructor-arg value="${project.path}" />
  </bean>
  
  <bean id="ProjectTreeResource" class="org.snapscript.engine.http.project.ProjectTreeResource"> 
    <constructor-arg value="${project.path}" />
  </bean>
  
  <bean id="ProjectScriptService" class="org.snapscript.engine.http.project.ProjectScriptService">
    <constructor-arg ref="ProcessEngine" />
    <constructor-arg value="${project.path}" />
  </bean>
  
  <bean id="NotFoundResource" class="org.snapscript.engine.http.resource.StringResource">
    <constructor-arg value="Resource could not be found!!" />
    <constructor-arg value="text/plain; charset=UTF-8" />
    <constructor-arg value="UTF-8" />
    <constructor-arg value="NOT_FOUND" />
  </bean>

  <bean id="ResourceMatcher" class="org.snapscript.engine.http.resource.RegularExpressionMatcher">
    <constructor-arg>
      <map>
        <entry key="/project/.*" value-ref="ProjectResource" />          
        <entry key="/resource/.*" value-ref="ProjectFileResource" />
        <entry key="/tree/.*" value-ref="ProjectTreeResource" />        
      </map>
    </constructor-arg>
  </bean>

  <bean id="FileMatcher" class="org.snapscript.engine.http.resource.FileMatcher">
    <constructor-arg ref="FileResolver" />
    <constructor-arg ref="ContentTypeResolver" />
  </bean>

  <bean id="CombinationMatcher" class="org.snapscript.engine.http.resource.CombinationMatcher">
    <constructor-arg>
      <list>
        <ref bean="ResourceMatcher" />
        <ref bean="FileMatcher" />
      </list>
    </constructor-arg>
    <constructor-arg ref="NotFoundResource" />
  </bean>

  <bean id="ResourceContainer" class="org.snapscript.engine.http.resource.ResourceContainer">
    <constructor-arg ref="CombinationMatcher" />
  </bean>
  
  <bean id="WebSocketRouter" class="org.simpleframework.http.socket.service.DirectRouter">
    <constructor-arg ref="ProjectScriptService" />
  </bean>

  <bean id="WebSocketContainer" class="org.simpleframework.http.socket.service.RouterContainer">
    <constructor-arg ref="ResourceContainer" />
    <constructor-arg ref="WebSocketRouter" />
    <constructor-arg value="2" />
  </bean>

  <bean id="WebContainer" class="org.snapscript.engine.http.WebContainer">
    <constructor-arg ref="WebSocketContainer" />
    <constructor-arg value="Snap/1.0" />
  </bean>

  <bean id="WebServer" class="org.snapscript.engine.http.WebServer" init-method="start">
    <constructor-arg ref="WebContainer" />
    <constructor-arg value="${script.listenPort}" />
  </bean>
</beans>
